pyrogram==2.0.93
py-tgcalls
git+https://github.com/yt-dlp/yt-dlp@master
tglogging
sqlalchemy
TgCrypto
python-dotenv
motor
telegraph
youtube_dl
youtube_search_python 
requests
aiohttp
aiofiles
asyncio
search_engine_parser
wget 
lyricsgenius
ffmpeg-python
speedtest-cli
Pillow
ujson
psutil
future
dnspython
yt_dlp
youtube_search
OpenCC
pytube
pillow
hachoir
pyromod
psutil
ffmpeg
future
pymongo[srv]
bs4
Heroku3
telegram
yt-dlp
telethon